/* protago
 * content.css
 */

 /* content */
body.large #content .outermargin
{
  display: flex;
  /*flex-direction: column;
  justify-content: center;
  align-items: center;*/
}
body.large #content .outermargin #maincontent
{
  flex: 3;
}
body.large #content .outermargin #sidebar
{
 flex: 1;
}
