/* protago
 * footer.css
 */

/* Footer widgets */
body.large #footer_widgets .outermargin
{
  display: flex;
  flex-direction: row;
}
body.large #footer_widgets .outermargin.center
{
  display: flex;
  justify-content: center;
	align-items: center;
}
body.large #footer_widgets .outermargin .widgetcolumn
{
  flex:1;
}
body.large #footer_widgets.display-equal
{
}
body.large #footer_widgets.display-wid1 .outermargin .widgetcolumn:nth-child(1),
body.large #footer_widgets.display-wid2 .outermargin .widgetcolumn:nth-child(2),
body.large #footer_widgets.display-wid3 .outermargin .widgetcolumn:nth-child(3),
body.large #footer_widgets.display-wid4 .outermargin .widgetcolumn:nth-child(4),
body.large #footer_widgets.display-wid5 .outermargin .widgetcolumn:nth-child(5)
{
  flex:2;
}
body.large #footer_widgets .outermargin.center .widgetcolumn
{
  flex:none;
}

/* bottombar */
body.large #bottombar.display-left .outermargin
{
  display: flex;
  flex-direction: row;
}
body.large #bottombar.display-right .outermargin
{
  display: flex;
  flex-direction: row-reverse;
}
body.large #bottombar.display-center .outermargin,
body.large #bottombar.display-left .outermargin.center,
body.large #bottombar.display-right .outermargin.center
{
  display: flex;
  justify-content: center;
	align-items: center;
}
body.large #bottombar.display-left .column,
body.large #bottombar.display-right .column,
body.large #bottombar.display-center .column
{
  flex:1;
}
body.large #bottombar.display-center .outermargin .column,
body.large #bottombar.display-left .outermargin.center .column,
body.large #bottombar.display-right .outermargin.center .column
{
  flex:none;
}
body.large #footermenubox #footermenu nav .innerpadding .menu > ul > li
{
  display:inline-block;
}

/* footnote */
body.large #footnote.display-left .outermargin
{
  display: flex;
  flex-direction: row;
}
body.large #footnote.display-right .outermargin
{
  display: flex;
  flex-direction: row-reverse;
}
body.large #footnote.display-center .outermargin,
body.large #footnote.display-left .outermargin.center,
body.large #footnote.display-right .outermargin.center
{
  display: flex;
  justify-content: center;
	align-items: center;
}
body.large #footnote.display-left .column,
body.large #footnote.display-right .column,
body.large #footnote.display-center .column
{
  flex:1;
}
body.large #footnote.display-center .outermargin.center .column,
body.large #footnote.display-left .outermargin.center .column,
body.large #footnote.display-right .outermargin.center .column
{
  flex:none;
}
