/* protago
 * mainmenu.css
 */

/* default (mobile) screen */
#header
{
  position:relative;
  top:0px;
  width:100%;
}
/* header mainbar */
#mainbar
{
  position:relative;
  width:100%;
  /*text-align:center;*/
}
#mainbar .innerbar
{
  display:block;
}
#mainbar #mainmenubox #mainmenu nav .innerpadding .menu > ul
{
  display: block;
}
#mainbar #mainmenubox #mainmenu nav .innerpadding .menu > ul > li
{
}





body.large #mainbar .outermargin.content .innerbar,
body.large #mainbar .outermargin.full .innerbar
{
    display: flex;
    justify-content: space-between;
}

body.large #mainbar.display-right .innerbar,
body.large #mainbar.display-inright .innerbar
{
  	flex-direction: row-reverse;
}
/* inline center (logo in middle of menu) */
body.large #mainbar .outermargin.center .innerbar,
body.large #mainbar.display-incenter .outermargin.content .innerbar,
body.large #mainbar.display-incenter .outermargin.center .innerbar,
body.large #mainbar.display-incenter .outermargin.full .innerbar
{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* center (logo above menu) */
body.large #mainbar.display-center .outermargin.content .innerbar,
body.large #mainbar.display-center .outermargin.center .innerbar,
body.large #mainbar.display-center .outermargin.full .innerbar
{
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


body.large #mainbar .outermargin.center.spaced
{
  width:100% !important;
}

body.large #mainbar #mainmenubox #mainmenu nav .innerpadding .menu > ul
{
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  list-style: none;
}
body.large #mainbar.display-right #mainmenubox #mainmenu nav .innerpadding .menu > ul,
body.large #mainbar.display-inright #mainmenubox #mainmenu nav .innerpadding .menu > ul
{
	flex-direction: row-reverse;
}

/* Centered Spaced content (centered menus) */
body.large #mainbar .outermargin.spaced .innerbar,
body.large #mainbar .outermargin.spaced .innerbar #mainmenubox,
body.large #mainbar .outermargin.spaced .innerbar #mainmenubox #mainmenu,
body.large #mainbar .outermargin.spaced .innerbar #mainmenubox #mainmenu nav,
body.large #mainbar .outermargin.spaced .innerbar #mainmenubox #mainmenu nav .innerpadding,
body.large #mainbar .outermargin.spaced .innerbar #mainmenubox #mainmenu nav .innerpadding .menu

{
    display:block !important;
    text-align:center;
}
body.large #mainbar .outermargin.spaced .innerbar #mainmenubox #mainmenu nav .innerpadding .menu ul
{
    width:100%;
    justify-content: space-between;
}

body.large #mainbar.display-left .outermargin.spaced .innerbar,
body.large #mainbar.display-right .outermargin.spaced .innerbar,
body.large #mainbar.display-inleft .outermargin.spaced .innerbar,
body.large #mainbar.display-inright .outermargin.spaced .innerbar
{
  display: flex !important;
  flex-direction: row;
  justify-content: space-between;
}

body.large #mainbar.display-right .outermargin.spaced .innerbar,
body.large #mainbar.display-inright .outermargin.spaced .innerbar
{
  	flex-direction: row-reverse;
}
body.large #mainbar.display-left .outermargin.spaced #mainmenubox,
body.large #mainbar.display-right .outermargin.spaced #mainmenubox,
body.large #mainbar.display-inleft .outermargin.spaced #mainmenubox,
body.large #mainbar.display-inright .outermargin.spaced #mainmenubox
{
  flex: 4 !important;
  text-align: center;
}
body.large #mainbar.display-inleft .outermargin.spaced #mainbar_widgets,
body.large #mainbar.display-inright .outermargin.spaced #mainbar_widgets,
body.large #mainbar.display-left .outermargin.spaced #site-titlebox,
body.large #mainbar.display-right .outermargin.spaced #site-titlebox,
body.large #mainbar.display-left .outermargin.spaced #site-titlebox,
body.large #mainbar.display-right .outermargin.spaced #site-titlebox
{
  flex: 1 !important;
  text-align: center;
}

/* menu items */
body.large #mainbar #mainmenubox #mainmenu nav .innerpadding .menu > ul > li
{
  flex: 1;
}
body.large #mainbar #mainmenubox #mainmenu nav .innerpadding .menu > ul > li#item-logobox
{
  flex-shrink: 0;
}

body.large #mainbar #mainmenubox #mainmenu nav .innerpadding .menu > ul > li > a:not(#site-logo)
{
  display:flex;
  align-items:center;
  height:100%;
  background-color:green;
}

/**/
body.large #mainbar:not(.display-center) .innerbar > #site-titlebox > div,
body.large #mainbar .innerbar > #mainbar_widgets > div,
body.large #mainbar #mainmenubox #mainmenu nav .innerpadding .menu > ul > li#item-logobox > div,
body.large #mainbar #mainmenubox #mainmenu nav .innerpadding .menu > ul > li#item-widgets > div
{
    display:flex;
    align-items:center;
    width:100%;
    height:100%;
    background-color:red;

}

/* mainbar (header.css)*/
body.large #mainbar #mainmenubox #mainmenu nav .innerpadding .menu > ul > li > a:not(#site-logo),
body.large #mainbar:not(.display-center) .innerbar > #site-titlebox > div,
body.large #mainbar .innerbar > #mainbar_widgets > div,
body.large #mainbar #mainmenubox #mainmenu nav .innerpadding .menu > ul > li#item-logobox > div,
body.large #mainbar #mainmenubox #mainmenu nav .innerpadding .menu > ul > li#item-widgets > div
{
   /* bar menu height */
    min-height:60px;
    /* align button text */
    justify-content:center;
    background-color: yellow;
}


body.large #mainbar #mainmenubox #mainmenu nav .innerpadding .menu > ul > li#item-logobox,
body.large #mainbar #mainmenubox #mainmenu nav .innerpadding .menu > ul > li#item-widgets,

body.large #mainbar.display-left .innerbar > #site-titlebox,
body.large #mainbar.display-right .innerbar > #site-titlebox,

body.large #mainbar.display-left .innerbar > #mainbar_widgets,
body.large #mainbar.display-inleft .innerbar > #mainbar_widgets,
body.large #mainbar.display-right .innerbar > #mainbar_widgets,
body.large #mainbar.display-inright .innerbar > #mainbar_widgets
{
  display:flex;
  align-items:center;
  background-color:pink;
}
