/* Theme menu styling */

.navbox,
.navbox > div,
.navbox > div ul.nav-menu,
.widget_nav_menu ul.menu
{
display:block;
min-width:100%;
padding:0;
}

ul.nav-menu li,
ul.menu li
{
display:block;
list-style-type:none;
padding:0px;
}

.menu-item a
{
display:block;
}
.menu-item a .nav-item-box
{
display:block;
text-align:left; /* should be replaced with RTL option */
}




/** Start Menu_image
 * @package Menu_Image
 * @version 2.6.4
 * @licence GPLv2
 * source: https://github.com/zviryatko/menu-image/blob/master/menu-image.css
 * Author: Alex Davyskiba aka Zviryatko
 */
.menu-item a img {
    border: none;
    box-shadow: none;
    vertical-align: middle;
    width: auto;
    display: inline;
}
.menu-item a.menu-image-hovered img.hovered-image,
.menu-item a.menu-image-hovered:hover img.menu-image {
    opacity: 0;
    transition: opacity 0.25s ease-in-out 0s;
}
.menu-item a.menu-image-hovered:hover img.hovered-image {
    opacity: 1;
}
.menu-item a.menu-image-title-after.menu-image-not-hovered img,
.menu-item a.menu-image-hovered.menu-image-title-after .menu-image-hover-wrapper {
    padding-right: 5px;
}
.menu-item a.menu-image-title-before.menu-image-not-hovered img,
.menu-item a.menu-image-hovered.menu-image-title-before .menu-image-hover-wrapper {
    padding-left: 5px;
}
.menu-item a.menu-image-title-above,
.menu-item a.menu-image-title-below {
    text-align: center;
}
.menu-item a.menu-image-title-above.menu-image-not-hovered img,
.menu-item a.menu-image-hovered.menu-image-title-above .menu-image-hover-wrapper {
    display: block;
    padding-top: 10px;
    margin: 0 auto;
}
.menu-item a.menu-image-title-below.menu-image-not-hovered img,
.menu-item a.menu-image-hovered.menu-image-title-below .menu-image-hover-wrapper {
    display: block;
    padding-bottom: 10px;
    margin: 0 auto;
}
.menu-item a.menu-image-title-hide .menu-image-title {
	display: none;
}
/**
 * End Menu_image
 */






/* image wrapper */
img.menu-image,
.menu-image-hover-wrapper
{
display:inline-block;
}

.text-before img.menu-image,
.text-before .menu-image-hover-wrapper
{
float:right;
}
.text-after img.menu-image,
.text-after .menu-image-hover-wrapper
{
float:left;
}


/* title text wrapper */
.menu-image-textwrap
{
}
.menu-image-description
{
	display:block;
	clear: both;
}

.menu-image-textwrap .menu-image-title
{
}
.menu-image-textwrap .menu-image-description
{
}

.text-before .menu-image-title,
.text-before .menu-image-description
}

.text-after .menu-image-title,
.text-after .menu-image-description
{
}



/* theme custom */
.clr
{
clear:both;
}


